<footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <!--<h3 class="footer-heading mb-4">Promo</h3>-->
            <a href="#" class="block-6">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Shaharnu_Chitrakar_-_Kolkata_2014-12-06_1140.JPG/300px-Shaharnu_Chitrakar_-_Kolkata_2014-12-06_1140.JPG" alt="Image placeholder" class="img-fluid rounded mb-4">
              <!--<h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>-->
              <!--<p>Promo from  July 15 &mdash; 25, 2019</p>-->
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="/">Home</a></li>
                  <li><a href="/products">Shop</a></li>
                  <li><a href="/cart">Cart</a></li>
                  <li><a href="/checkout">Checkout</a></li>
                  <li><a href="/profile">Profile</a></li>
                </ul>
              </div>
              <!--<div class="col-md-6 col-lg-4">-->
              <!--  <ul class="list-unstyled">-->
              <!--    <li><a href="#">Mobile commerce</a></li>-->
              <!--    <li><a href="#">Dropshipping</a></li>-->
              <!--    <li><a href="#">Website development</a></li>-->
              <!--  </ul>-->
              <!--</div>-->
              <!--<div class="col-md-6 col-lg-4">-->
              <!--  <ul class="list-unstyled">-->
              <!--    <li><a href="#">Point of sale</a></li>-->
              <!--    <li><a href="#">Hardware</a></li>-->
              <!--    <li><a href="#">Software</a></li>-->
              <!--  </ul>-->
              <!--</div>-->
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Nerul, Navi Mumbai</li>
                <li class="phone"><a href="tel://02225945421">+022 2594 5421</a></li>
                <li class="email">kalamart@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" name="email" placeholder="Email">
                  <input type="submit" href="/" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/jquery-ui.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/aos.js"></script>

  <script src="/assets/js/main.js"></script>
    
  </body>
</html>