<% include partials/header %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script>!function(e,t,a){var c=e.head||e.getElementsByTagName("head")[0],n=e.createElement("script");n.async=!0,n.defer=!0, n.type="text/javascript",n.src=t+"/static/js/chat_widget.js?config="+JSON.stringify(a),c.appendChild(n)}(document,"https://app.engati.com",{bot_key:"491fef4ef851422b",bot_name:"Alex",welcome_msg:true,branding_key:"default"});</script>
<style>
  #headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}
</style>

    <div class="site-blocks-cover" data-aos="fade" style="background-image: url('https://images2.alphacoders.com/573/thumb-1920-573353.jpg');background-repeat:no-repeat;background-size:cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto order-md-2 align-self-start" style="position: relative; bottom: 50%;">
            <div class="site-block-cover-content">
            <h2 class="sub-title">Latest Arrivals</h2>
            <h1>Arts &amp; Crafts</h1>
            <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <!--<img src="/assets/images/model_3.png" alt="Image" class="img-fluid">-->
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 id="collections" class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="/products" class="product-category" style="text-decoration: none">Sarees<span>(25)</span></a>
              <img src="https://5.imimg.com/data5/TS/OX/MY-10611839/pochampally-silk-by-cotton-sarees-500x500.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="/products" class="product-category" style="text-decoration: none">Jewellery <span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/M/u/Mustaani_Jewellery_11_.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="/products" class="product-category" style="text-decoration: none">Paintings <span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/jssor/img/painting/Traditional-4.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="/products" class="product-category" style="text-decoration: none">Tea Set<span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/O/n/One_kettle_and_4_cup_with_plate__2200_craftsbazaar.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="/products" class="product-category" style="text-decoration: none">Shawls <span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/S/h/Shawls_47_3.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height mb-4">
              <a href="/products" class="product-category" style="width: 58%; text-decoration: none" >Home&amp;Living<span>(25)</span></a>
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/K/a/Kauna_grass_Shopping_bags_2.jpg" alt="Image" class="img-fluid" style="max-width:100%">
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Popular Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="/products/5c9fcbe647b8cdd4c6a87a41" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/M/S/MSS22_3.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/products/5c9fcbe647b8cdd4c6a87a41">Mustard Colored Paithani</a></h2>
            <strong class="item-price">₹2000.00</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="/products/5ca0161c52dc891c48e6f4f9" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/J/e/Jewellery_9_3_1.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/products/5ca0161c52dc891c48e6f4f9">Tribal Red Matrix</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="/products/5c9fec724f0edee2a35907a1" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/L/o/Lord_Ganapati_-_III_ART_2874_28878_-_Handpainted_Art_Painting_-_20in_X_30in.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/products/5c9fec724f0edee2a35907a1">Lord Ganapati</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>

            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>

          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="/products/5ca0189c52dc891c48e6f4fa" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/C/u/Cutlery_162_1.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/products/5ca0189c52dc891c48e6f4fa">Jaipur Blue Pottery</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>
            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="/products/5ca019b452dc891c48e6f4fb" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/Y/e/Yellow_Pashmina_with_Sozini_1_.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/products/5ca019b452dc891c48e6f4fb">Farheen</a></h2>
            <strong class="item-price"><del>₹4600</del> ₹2800</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="/products/5ca01a8a52dc891c48e6f4fc" class="product-item md-height d-block">
              <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/l/a/lamb_12_.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/products/5ca01a8a52dc891c48e6f4fc">Celestial Cone</a></h2>
            <strong class="item-price">₹5800</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">Most Rated</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/K/a/Kalamkari_Sarees_craftsbazaar_16_.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Inchara Green Cotton Kalamkari Saree</a></h2>
                  <strong class="item-price"><del>₹4600</del> ₹2800</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/J/e/Jewellery_407_1.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Vibha</a></h2>
                  <strong class="item-price"><del>₹4600</del> ₹2800</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/G/r/GreatBuddha_Handpainted_Art_Painting.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Great Buddha</a></h2>
                  <strong class="item-price"><del>₹4600</del> ₹2800</strong>

                  <div class="star-rating">on
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>

                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/W/o/Wood_Tamilnadu_22__1.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Yali Pair</a></h2>
                  <strong class="item-price"><del>₹46000</del> ₹35000</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height d-block">
                    <img src="https://www.craftsbazaar.com/media/catalog/product/cache/1/thumbnail/288x340/3792e1346258422eb320f48364c017b1/A/n/An_extravagantly_handcrafted_yellow_Shawl_2_.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Wild Orchid</a></h2>
                  <strong class="item-price">₹5800</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover inner-page py-5" data-aos="fade" style="background-image: url('https://images.pexels.com/photos/207665/pexels-photo-207665.jpeg');background-repeat:no-repeat;background-size:cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <p class="text-center mt-5">
              <h2 class="sub-title">Watch Artisans Work</h2>
        <a href="#headerPopup" id="headerVideoLink" target="_blank" class="btn btn-black rounded-0 popup-modal">Play</a>
      </p>
     <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
      <!--<iframe class="embed-responsive-item" width="800" height="480" src="https://vimeo.com/327427285" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
      <iframe class="embed-responsive-item" width="640" height="564" src="https://player.vimeo.com/video/327427285" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
      </div>    
      <!--<p>Click here for more...</p>-->
      <a href="/videos" id="headerVideoLink" target="_blank" class="btn rounded-0">Click here for more...</a><br>  
        </div>
      </div>
    </div>
    </div>
    </div>
    <% include partials/footer %>
<script>
  $(document).ready(function() {
  $('#headerVideoLink').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });         
});
</script>
    