<% include ../partials/header %>
    
    <div class="container">
        <div class="row">
            <div class="formStyle">
                <h1 class="formTitle">Add a New Product</h1>
                <form action="/products" method="POST">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="imageUrl" placeholder="Image">
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-lg" id="category" type="text" name="category" placeholder="Choose a category">
                            <option value="sarees">Sarees</option>
                            <option value="jewellery">Jewellery</option>
                            <option value="painting">Painting</option>
                            <option value="teaset">Tea Set</option>
                            <option value="shawls">Shawls</option>
                            <option value="home">Home & Living</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="number" name="price" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-block" style="background: #EE4266; color: white; font-size: 20px;" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

<% include ../partials/footer %>